@import "reset";
@import "vars";
@import "fonts";

body {
  background-color: beige;
}

h1 {
  background-color: red;
  color: white;
}

.outer {
  background-image: url("../img/code.png");

  .inner {
    background-color: green;
    color: white;
    display: grid;
    user-select: none;
  }
}